# REVIEW QUESTION #1

_____

In [6]:
def cube(number):
    number = number ** 3
    return number
print(f"Number 3 raised to the third power is {cube(3)}.")
print(f"Number 4 raised to the third power is {cube(4)}.")
print(f"Number 5 raised to the third power is {cube(5)}.")

Number 3 raised to the third power is 27.
Number 4 raised to the third power is 64.
Number 5 raised to the third power is 125.

In [15]:
def greet(name):
    print(f"Hello, {name}!")
greet("Johndel")

Hello, Johndel!

# CHALLENGE: CONVERT TEMPERATURES

___

In [7]:
def convert_cel_to_far(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit
user = float(input("Enter a temperature in degrees C: "))
result = convert_cel_to_far(user)
print(f"{user} degrees C = {result:.2f} degrees F")

Enter a temperature in degrees C:  37

37.0 degrees C = 98.60 degrees F

In [8]:
def convert_far_to_cel(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius
user = float(input("Enter a temperature in degrees F: "))
result = convert_far_to_cel(user)
print(f"{user} degrees F = {result:.2f} degrees C")

Enter a temperature in degrees F:  72

72.0 degrees F = 22.22 degrees C

# REVIEW QUESTION #2

___

In [9]:
for i in range(2, 11):
    print(i)

2
3
4
5
6
7
8
9
10

In [11]:
num = 2
while num <= 10:
    print(num)
    num += 1

2
3
4
5
6
7
8
9
10

In [18]:
def doubles(num):
    num = num * 2
    return num

value = 2
for i in range(3):
    value = doubles(value)
    print(value)

4
8
16